#!/bin/bash

trap "touch .javaTrustStore; exit" SIGINT SIGTERM

FEDORA_TRUST_STORE="/etc/pki/ca-trust/extracted/java/cacerts"
{ DEFAULT_TRUST_STORE=$(readlink -e $(dirname $(readlink -e $(which keytool)))/../lib/security/cacerts) ; } >/dev/null 2>&1 || :


function enterTrustStorePath() {
	echo "Enter the path to the Java trust store to be used"
	read TRUST_STORE
}

if [ ! -e .javaTrustStore ]
then
	echo "Do you want to use a trust store of a local Java installation?"
	echo "(If you are behind a corporate firewall, chances are you want to say 'yes')"
	select USE_LOCAL in "Yes" "No"
	do
		case $USE_LOCAL in
			Yes)
				if [ -e "$FEDORA_TRUST_STORE" ]
				then
					TRUST_STORE="$FEDORA_TRUST_STORE"
				else
					if [ -e "$DEFAULT_TRUST_STORE" ]
					then
						TRUST_STORE="$DEFAULT_TRUST_STORE"
					else
						TRUST_STORE=""
					fi
				fi
				if [ ! -z "$TRUST_STORE" ]
				then
					echo "I tried to guess your Java trust store location. Does this look right?"
					echo "  $TRUST_STORE"
					select USE_DEFAULT in "Yes" "No"
					do
						case $USE_DEFAULT in
							No)
								enterTrustStorePath
								break
								;;
							Yes)
								break
								;;
						esac
					done
				else
					enterTrustStorePath
				fi
				if [ ! -z "$TRUST_STORE" ]
				then
					echo "export _JAVA_OPTIONS=\"-Djavax.net.ssl.trustStore=$TRUST_STORE \$_JAVA_OPTIONS\"" > .javaTrustStore
				fi
				break
				;;
			No)
				break
				;;
		esac
	done
	touch .javaTrustStore
	echo "Saved to file '.javaTrustStore'. Please DO NOT put this file under version control."
	echo "Should you change your mind, simply deleta that file, and say 'direnv reload' for a do-over."
fi

source .javaTrustStore
use_nix
